.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;
    border-radius: 50%;
    background-size: 50% 50%;
}

.carousel .carousel-indicators button {
    background-color: black;
}

.carousel-item img {
    background-color: gray;
}